/*!
 * Theme Name: 
 * Theme URI: 
 * Author: Hipmill
 * Author URI: http://www.hipmill.com/
 * Description: 
 * Version: 1.0
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain: plai
 * Tags:
 */

@import 'functions';

@import 'animate';
@import 'flexslider';
@import 'hover';
@import 'main';
@import 'owl.theme';
@import 'responsive';
@import 'bootstrap';
@import 'font-awesome';
@import 'jquery.bxslider';
@import 'onepage-scroll';
@import 'prettyPhoto';
@import 'jquery.fancybox';
@import 'owl.carousel';
@import 'red';
@import 'custom';

/* Plai customizations */
body,
.single-post {
    border-bottom: 0;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.admin-bar {
    .navbar-fixed-top {
        top: 32px;
        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }
}

.navbar-nav {
    li {
        line-height: initial;
    }
    & > li {
        display: inline-block;
        height: 90px;
        line-height: 90px;
        margin: -10px 0;
    }
    .dropdown-menu {
        top: 70px;
    }
}

.caret {
    margin-left: 10px;
}

#back-top a:hover {
    background: transparent;
}

.footer_bottom p {
    font-size: 12px;
    margin: 12.5px 0px;
}

.footer_menu_contact a {
    color: #1c7231;
}

.footer_menu_contact a:hover {
    text-decoration: underline !important;
}


/* Front page */

#din-ograda {
    .owl-buttons {
        display: inline-block;
        .owl-next,
        .owl-prev {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            height: 30px;
            line-height: 30px;
            padding: 0;
            text-align: center;
            width: 30px;
        }
    }
    .item .single-member h3 a {
        color: #1c7231;
    }
}

.client_logo {
    background-color: transparent;
    img {
        display: inline-block;
        height: auto;
        transition: opacity 400ms ease-in-out;
        width: auto;
        &:hover {
            border: 0;
            opacity: 0.65;
        }
    }
}

/* Blog article */
.single-post {
    img {
        height: auto;
        width: 100%;
    }
}

.comments {
    .media {
        background-color: #fff;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .media-body {
        background-color: #fafafa;
        padding: 45px 0px 20px 25px;
    }
    .parent .children {
        background-color: #fff;
        padding-left: 20px;
        padding-top: 20px;
    }
}

#blog-single.page-404 {
    padding: 90px 0;
    text-align: center;
    .page-404-title,
    .page-404-subtitle {
        color: #1c7231;
        font-family: 'CeraBrush-Black', sans-serif;
        font-weight: 300;
        text-align: center;
    }
    .page-404-title {
        line-height: 92px;
        font-size: 70px;
    }
    .page-404-subtitle {
        line-height: 70px;
        font-size: 40px;
    }
    .page-404-link {
        color: #287b45;
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5em;
        padding-top: 25px;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline !important;
        }
    }
}

/* Contact page */
#contact {
    .wpcf7-form-control-wrap {
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .wpcf7-not-valid {
        border-color: #ff0000;
    }
    .wpcf7-not-valid-tip {
        display: none;
    }
    .right textarea {
        height: 144px;
    }
}

/* Attachment page */
.post-gallery {
    $size: 100;
    position: relative;
    .gallery-nav-link {
        position: absolute;
        top: 50%;
        display: block;
        color: #fff;
        text-decoration: none;
        display: none;
        width: rem($size / 2);
        height: rem($size / 2);
        margin-top: rem(-($size / 4));
        @media screen and (min-width:960px) {
            width: rem($size);
            height: rem($size);
            margin-top: rem(-($size / 2));
        }
        span {
            display: none;
        }
        a {
            background-color: #287b45;
            display: block;
            font-size: 0;
            height: 100%;
            opacity: 0.5;
            position: relative;
            width: 100%;
            &:after {
                position: absolute;
                content: "";
                display: block;
                width: rem(50);
                height: rem(50);
                top: rem(25);
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                width: rem($size / 4);
                height: rem($size / 4);
                top: rem($size / 8);
                @media screen and (min-width:960px) {
                    width: rem($size / 2);
                    height: rem($size / 2);
                    top: rem($size / 4);
                }
            }
            &:hover {
                opacity: 0.75;
            }
        }
    }
    .gallery-nav-right {
        right: 0;
        z-index: 10;
        a:after {
            transform: rotate(-45deg);
            left: rem($size / 16);
            @media screen and (min-width:960px) {
                left: rem($size / 8);
            }
        }
    }
    .gallery-nav-left {
        left: 0;
        z-index: 10;
        a:after {
            transform: rotate(135deg);
            left: rem(($size / 8) + ($size / 16));
            @media screen and (min-width:960px) {
                left: rem(($size / 4) + ($size / 8));
            }
        }
    }
    .gallery-image img {
        width: auto !important;
        height: auto !important;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    &:hover .gallery-nav-link {
        display: block;
    }
}


/* Search page */
.page-search {
    margin-top: 90px;
    text-align: center;
    .search-title {
        margin: 0;
        padding: 25px 0;
    }
    .search-results {
        display: inline-block;
        margin-bottom: 25px;
        padding: 0 15px;
        text-align: center;
        .item {
            -webkit-box-shadow :0 0 10px 0 rgba(#696868, .7);
            -moz-box-shadow :0 0 10px 0 rgba(#696868, .7);
            box-shadow: 0 0 10px 0 rgba(#696868, .7);
            display: inline-block;
            margin: 10px;
            vertical-align: top;
            .single-member,
            .overlay-hover img,
            .overlay-effect {
                border-radius: 0;
            }
        }
    }
}

@media (max-width: 700px){.client_logo{padding:0 10px;}}

@media (max-width : 767px){

    .carousel-caption h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .carousel-caption p {
        font-size: 20px;
        line-height: 25px;
    }
    .overlay-slide{
        height: 100%;
        position: relative;
        width: 100%;
    }
    .carousel-indicators{
        visibility: hidden;
    }
}

@media (max-width : 500px){
    .carousel-caption{
        top:15%;
    }
}

@media (max-width : 330px){
    .carousel-caption h3 {
        font-size: 20px;
        line-height: 20px;
        margin:5 0px;
    }
    .carousel-caption p {
        font-size: 20px;
        line-height: 20px;
         margin-top: 4px;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    #slider_part {
        height: 530px;
        margin-top: 70px;
    }   
        .carousel-caption{
        top:15%;
    }
}
@media (min-width: 868px){
.navbar-toggle {
    display: none;
}   
}

@media (max-width : 450px){
    #client h3 {
        font-size: 20px;
        line-height: 25px;
    }
}

ul.navbar-nav>.active>a, ul.navbar-nav>li a:hover, .carousel-caption h4 {
    color:white !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li.active>a {
    color: white !important;
}

.menu-principal-container {
    .menu-item {
        display: inline-block;
    }
}

 .client_logo .text-center {
position: relative;
bottom:180px;
margin:auto;
opacity: 0;
color: white;
transition:opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

.client_logo:hover .text-center {
color: white;
opacity: 1;
}

.client_logo a:hover {
    display:inline-block;
    background: black;
}
 .client_logo .text-center {
position: relative;
bottom:180px;
margin:auto;
opacity: 0;
color: white;
transition:opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

.client_logo:hover .text-center {
color: white;
opacity: 1;
}

.client_logo a:hover {
    display:inline-block;
    background: black;
}

 .video-text .panel-group .panel {
     width: 100%;
 }

.navbar-nav .sub-menu li{
    background-image: url('static/img/icons/header.png');
}

@media (max-width : 750px){
    .blog-desc h1 {
        margin-top:50px;
    }
}

#section_header .container{
    margin-top: -10px;
}

.navbar-brand {
    height: 80px;
    line-height: 70px;
    margin: -10px 0;
    padding: 0;
    padding-top: 10px;
    position: relative;
    width: auto;
    .logo-bk {
        background: transparent url('static/img/icons/logo-bk.png') no-repeat center;
        background-size: 100% 100%;
        display: block;
        height: 80px;
        left: -250px;
        position: absolute;
        top: 0;
        width: 639px;
        z-index: -1;
    }
    img {
        height: 55px;
        margin: 0;
        vertical-align: middle;
        z-index: 0;
    }
}

.owl-carousel .owl-item{
    margin-left: 25px;
}

.container{
    padding-right: 50px;
    padding-left:50px;
}

.single-portfolio figure{
    width:365px;
}

.single-portfolio img{
    width:365px;
}


 .client_logo .text-center {

position: relative;

bottom:180px;

margin:auto;

opacity: 0;

color: white;

transition:opacity .25s ease-in-out;

-moz-transition: opacity .25s ease-in-out;

-webkit-transition: opacity .25s ease-in-out;

}



.client_logo:hover .text-center {

color: white;

opacity: 1;

}



.client_logo a:hover {

    display:inline-block;

    background: black;

}

 .client_logo .text-center {

position: relative;

bottom:180px;

margin:auto;

opacity: 0;

color: white;

transition:opacity .25s ease-in-out;

-moz-transition: opacity .25s ease-in-out;

-webkit-transition: opacity .25s ease-in-out;

}



.client_logo:hover .text-center {

color: white;

opacity: 1;

}



.client_logo a:hover {

    display:inline-block;

    background: black;

}



 .video-text .panel-group .panel {

     width: 100%;

 }



.navbar-nav .sub-menu {
    background-image: url('static/img/icons/header.png');
    left: 0;
    position: absolute;
}

.navbar-nav > li {
    margin: -10px 0 -20px 30px;
    position: relative;
    a {
        padding: 0;
        padding-left: 0;
    }
}

   

@media (max-width : 750px){

    .blog-desc h1 {

        margin-top:50px;

    }

#slider_part {height: auto;}

.navbar-nav>li { max-width: none; width: 100%; height: auto; line-height: 50px;}

#section_header {
    height: auto;
    overflow: hidden;
}

.navbar-nav .sub-menu { background: none;  opacity: 1; visibility: visible; }

.navbar-nav .sub-menu li { background: none; }

ul.navbar-nav a { padding: 0px; }

.navbar-nav>li>.sub-menu {

        margin-top: -25px !important;

}

.menu {margin-top: -25px !important;}

}


#section_header .container{

    margin-top: -10px;

}



.navbar-brand img{

    margin-top:-5px; 

    height:60px;

    width:auto;

}



.navbar-nav>li>.sub-menu {

        margin-top: -10px !important;

}



.navbar-nav .menu-item-has-children .sub-menu {

    background-image: none;

    border-radius: 0px 0px 5px 5px;

}



.navbar-nav .sub-menu li:first-child {

    border-radius: 0px;

}



@media (min-width : 1200px){

    .owl-carousel .owl-item{

        margin-left: 25px;

    }

}



.container{

    padding-right: 50px;
    padding-left:50px;

}



.participant-class figure, .testimonial-class figure{

    width:365px;

}


.participant-class img, .testimonial-class img{

    width:365px;

}


@media (min-width: 992px){
.portfolio-wrap .participant-class {
    width: 25%;
}   
}

#participant-single .container {
        padding: 100px 200px 0;
}   

@media (max-width: 1200px){
#participant-single .container {
        padding: 50px 40px 0 40px;
}   
}

@media (min-width: 1200px){.navbar-toggle{display:none}}

@media screen and (max-width:450px) {
    #about {
        .container {
            padding-right: 15px;
            padding-left: 15px;
        }
        .col-md-2.col-sm-3.col-xs-12,
        .col-md-12.col-sm-9 {
            padding: 0;
        }
    }
}



/* Schedule Page */
.schedule {
    margin-top: 90px;
    overflow: hidden;
    position: relative;

    a {
        color: #000000;
        &:hover {
            color: #8dc63f;
        }
    }

    .schedule-filters {
        margin: 0 auto;
        max-width: 1150px;
        padding-bottom: 30px;
        text-align: center;
        width: 100%;
        a {
            display: inline-block;
            padding: 0.2em;
            &.current {
                color: #8dc63f;
                text-decoration: underline;
            }
        }
        .participant-type-filters {
            background: transparent url('./static/img/icons/stripes.png') repeat-x bottom left;
            font-family: 'Roboto Slab', 'Lato', sans-serif;
            font-size: 1.2em;
            font-weight: 700;
            margin-bottom: 15px;
            padding-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
            .participant-type-filters-wrapper {
                @include cf;
                display: inline-block;
            }
            a {
                border-right: 1px dashed #000;
                display: block;
                float: left;
                padding: 0 7px;
                &:last-of-type {
                    border-right: 0;
                }
            }
        }
        .day-filters {
            margin-bottom: 15px;
            text-transform: uppercase;
            a {
                padding: 0.2em 0.5em;
                &.current {
                    color: #fff;
                    background: #8dc63f;
                }
            }
            .day-filters-week-day {
                display: block;
                font-size: 1.25em;
                letter-spacing: 0.05em;
            }
        }
        .schedule-location-window {
            background: transparent url('./static/img/icons/stripes.png') repeat-x bottom left;
            margin-bottom: 10px;
            padding-bottom: 25px;
            .schedule-location-wrapper {
                margin: 0 auto;
                position: relative;
            }
            .schedule-location {
                display: inline-block;
                padding: 0 10px;
                text-align: center;
                transition: padding 0.15s ease;
                -webkit-transition: padding 0.15s ease;
                h2 {
                    color: inherit;
                    font-family: 'Roboto Slab', 'Lato', sans-serif;
                    font-size: 16px;
                    margin: 0;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .schedule-grid-wrapper {
        overflow: hidden;
    }
    .schedule-grid {
        overflow: hidden;
        padding-top: 10px;
        position: absolute;
        width: 100%;
    }
    .schedule-grid-row {
        border-top: 1px solid #e8e9eb;
        height: 80px;
        position: relative;
        width: 100%;
    }
    .schedule-grid-row:after {
        background: #f5f6f7;
        content: "";
        display: block;
        height: 1px;
        margin-left: 50px;
        position: absolute;
        top: 50%;
        width: 100%;
    }
    .schedule-grid-row span {
        background: #fff;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        padding-right: 10px;
        position: absolute;
        text-align: right;
        text-transform: uppercase;
        top: -0.5em;
        width: 50px;
    }

    .schedule-events-container {
        margin-bottom: -20px;
        margin-left: 50px;
        overflow-x: scroll;
        width: 100%;
    }
    .schedule-events {
        height: 1520px;
        position: relative;
        &.ui-draggable {
            cursor: move;
            cursor: -webkit-grabbing;
        }
    }
    .schedule-event {
        font-size: 12px;
        line-height: 1;
        position: absolute;
        background: #e9eaec;
        margin-left: 20px;
        padding: 0 10px;
        text-align: center;
        border-bottom: 4px solid #8dc63f;
        width: 130px;
        &:hover {
            background: #8dc63f;
            color: #fff;
        }
        .event-description-wrapper {
            display: table;
            height: 100%;
            width: 100%;
        }
        .event-description {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        .event-title {
            color: inherit;
            font-family: 'Roboto Slab', 'Lato', sans-serif;
            font-size: 1em;
            line-height: 1.25;
            margin: 0;
            margin-bottom: 5px;
            text-transform: none;
        }
        .event-time {
            display: none;
        }
        .event-author {
            display: inline-block;
        }
        &:hover {
            .event-time {
                display: inline-block;
            }
            .event-author {
                display: none;
            }
        }
    }
}