/**
 * @license
 * MyFonts Webfont Build ID 3216914, 2016-05-10T19:18:33-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: CeraBrush-Thin by TypeMates
 * URL: http://www.myfonts.com/fonts/typemates/cera-brush/thin/
 * 
 * Webfont: CeraBrush-Black by TypeMates
 * URL: http://www.myfonts.com/fonts/typemates/cera-brush/black/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3216914
 * Licensed pageviews: 20,000
 * Webfonts copyright: Copyright (c) 2016 by Jakob Runge and Max Kostopoulos, under exclusive license to TypeMates. All rights reserved.
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/311612");

  
@font-face {font-family: 'CeraBrush-Thin';src: url('webfonts/311612_0_0.eot');src: url('webfonts/311612_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/311612_0_0.woff2') format('woff2'),url('webfonts/311612_0_0.woff') format('woff'),url('webfonts/311612_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CeraBrush-Black';src: url('webfonts/311612_1_0.eot');src: url('webfonts/311612_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/311612_1_0.woff2') format('woff2'),url('webfonts/311612_1_0.woff') format('woff'),url('webfonts/311612_1_0.ttf') format('truetype');}
 